.module h2, .module caption, .inline-group h2 {
    margin: 0;
    padding: 8px 5px 5px 8px;
    font-size: 11px;
    text-align: left;
    font-weight: bold;
    background-color: #428bca;
    /* background: #7CA0C7 url(../img/default-bg.gif) top left repeat-x; */
    color: #fff;
}