<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.powerlong.mapper.DataBoxReceiptMapper" >
  <resultMap id="BaseResultMap" type="com.powerlong.model.DataBoxReceipt" >
    <id column="Id" property="id" jdbcType="BIGINT" />
    <result column="ReceiptNum" property="receiptnum" jdbcType="VARCHAR" />
    <result column="CPTId" property="cptid" jdbcType="VARCHAR" />
    <result column="TSDate" property="tsdate" jdbcType="TIMESTAMP" />
    <result column="TotalAmount" property="totalamount" jdbcType="DOUBLE" />
    <result column="QRCode" property="qrcode" jdbcType="VARCHAR" />
    <result column="TSId" property="tsid" jdbcType="VARCHAR" />
    <result column="MerchantId" property="merchantid" jdbcType="VARCHAR" />
    <result column="EnterAmount" property="enteramount" jdbcType="DOUBLE" />
    <result column="ProductIf" property="productif" jdbcType="VARCHAR" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, ReceiptNum, CPTId, TSDate, TotalAmount, QRCode, TSId, MerchantId, EnterAmount, 
    ProductIf, CreateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_receipt
    where Id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_receipt
    where Id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.powerlong.model.DataBoxReceipt" >
    insert into t_receipt (Id, ReceiptNum, CPTId, 
      TSDate, TotalAmount, QRCode, 
      TSId, MerchantId, EnterAmount, 
      ProductIf, CreateTime)
    values (#{id,jdbcType=BIGINT}, #{receiptnum,jdbcType=VARCHAR}, #{cptid,jdbcType=VARCHAR}, 
      #{tsdate,jdbcType=TIMESTAMP}, #{totalamount,jdbcType=DOUBLE}, #{qrcode,jdbcType=VARCHAR}, 
      #{tsid,jdbcType=VARCHAR}, #{merchantid,jdbcType=VARCHAR}, #{enteramount,jdbcType=DOUBLE}, 
      #{productif,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.powerlong.model.DataBoxReceipt" >
    insert into t_receipt
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="receiptnum != null" >
        ReceiptNum,
      </if>
      <if test="cptid != null" >
        CPTId,
      </if>
      <if test="tsdate != null" >
        TSDate,
      </if>
      <if test="totalamount != null" >
        TotalAmount,
      </if>
      <if test="qrcode != null" >
        QRCode,
      </if>
      <if test="tsid != null" >
        TSId,
      </if>
      <if test="merchantid != null" >
        MerchantId,
      </if>
      <if test="enteramount != null" >
        EnterAmount,
      </if>
      <if test="productif != null" >
        ProductIf,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="receiptnum != null" >
        #{receiptnum,jdbcType=VARCHAR},
      </if>
      <if test="cptid != null" >
        #{cptid,jdbcType=VARCHAR},
      </if>
      <if test="tsdate != null" >
        #{tsdate,jdbcType=TIMESTAMP},
      </if>
      <if test="totalamount != null" >
        #{totalamount,jdbcType=DOUBLE},
      </if>
      <if test="qrcode != null" >
        #{qrcode,jdbcType=VARCHAR},
      </if>
      <if test="tsid != null" >
        #{tsid,jdbcType=VARCHAR},
      </if>
      <if test="merchantid != null" >
        #{merchantid,jdbcType=VARCHAR},
      </if>
      <if test="enteramount != null" >
        #{enteramount,jdbcType=DOUBLE},
      </if>
      <if test="productif != null" >
        #{productif,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.powerlong.model.DataBoxReceipt" >
    update t_receipt
    <set >
      <if test="receiptnum != null" >
        ReceiptNum = #{receiptnum,jdbcType=VARCHAR},
      </if>
      <if test="cptid != null" >
        CPTId = #{cptid,jdbcType=VARCHAR},
      </if>
      <if test="tsdate != null" >
        TSDate = #{tsdate,jdbcType=TIMESTAMP},
      </if>
      <if test="totalamount != null" >
        TotalAmount = #{totalamount,jdbcType=DOUBLE},
      </if>
      <if test="qrcode != null" >
        QRCode = #{qrcode,jdbcType=VARCHAR},
      </if>
      <if test="tsid != null" >
        TSId = #{tsid,jdbcType=VARCHAR},
      </if>
      <if test="merchantid != null" >
        MerchantId = #{merchantid,jdbcType=VARCHAR},
      </if>
      <if test="enteramount != null" >
        EnterAmount = #{enteramount,jdbcType=DOUBLE},
      </if>
      <if test="productif != null" >
        ProductIf = #{productif,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.powerlong.model.DataBoxReceipt" >
    update t_receipt
    set ReceiptNum = #{receiptnum,jdbcType=VARCHAR},
      CPTId = #{cptid,jdbcType=VARCHAR},
      TSDate = #{tsdate,jdbcType=TIMESTAMP},
      TotalAmount = #{totalamount,jdbcType=DOUBLE},
      QRCode = #{qrcode,jdbcType=VARCHAR},
      TSId = #{tsid,jdbcType=VARCHAR},
      MerchantId = #{merchantid,jdbcType=VARCHAR},
      EnterAmount = #{enteramount,jdbcType=DOUBLE},
      ProductIf = #{productif,jdbcType=VARCHAR},
      CreateTime = #{createtime,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=BIGINT}
  </update>
    <!-- 根据二维码code查询水单信息 -->
    <select id="selectByReceiptnum" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from t_receipt
        where       ReceiptNum = #{receiptnum,jdbcType=VARCHAR}
    </select>

    <!-- 数据盒子和用户信息返回对象 -->
    <resultMap id="DataBoxResultMap" type="com.powerlong.vo.DataBoxVo" >
        <id column="Id" property="id" jdbcType="BIGINT" />
        <result column="ReceiptNum" property="receiptnum" jdbcType="VARCHAR" />
        <result column="CPTId" property="cptid" jdbcType="VARCHAR" />
        <result column="TSDate" property="tsdate" jdbcType="TIMESTAMP" />
        <result column="TotalAmount" property="totalamount" jdbcType="DOUBLE" />
        <result column="QRCode" property="qrcode" jdbcType="VARCHAR" />
        <result column="TSId" property="tsid" jdbcType="VARCHAR" />
        <result column="MerchantId" property="merchantid" jdbcType="VARCHAR" />
        <result column="EnterAmount" property="enteramount" jdbcType="DOUBLE" />
        <result column="ProductIf" property="productif" jdbcType="VARCHAR" />
        <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
        <result column="USER_ID" property="userId" jdbcType="BIGINT" />
        <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
        <result column="SEX" property="sex" jdbcType="CHAR" />
        <result column="BIRTHDAY" property="birthday" jdbcType="VARCHAR" />
        <result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
        <result column="IDE" property="ide" jdbcType="VARCHAR" />
        <result column="EMAIL" property="email" jdbcType="VARCHAR" />
        <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
        <result column="MLEVEL" property="mlevel" jdbcType="VARCHAR" />
        <result column="MEMBER_NO" property="memberNo" jdbcType="VARCHAR" />
        <result column="MALL_ID" property="mallId" jdbcType="BIGINT" />
        <result column="MALL_NAME" property="mallName" jdbcType="VARCHAR" />
    </resultMap>

    <!-- 分页查询获取总数 selectDataBoxAndUserDataCount -->
    <select id="selectDataBoxAndUserDataCount" resultType="java.lang.Long" parameterType="com.powerlong.common.Paginator" >
        select
        COUNT(t.ID)
        FROM t_receipt t , databox_user d

        where t.ReceiptNum = d.RECEIPTNUM

        <if test="params.mallId != null" >
            AND d.mall_id = #{params.mallId,jdbcType=BIGINT}
        </if>

    </select>

    <sql id="dataBox_user_list" >
        t.Id, t.ReceiptNum, t.CPTId, t.TSDate, t.TotalAmount, t.QRCode, t.TSId, t.MerchantId, t.EnterAmount,
        t.ProductIf, t.CreateTime,d.USER_ID, d.USER_NAME, d.SEX, d.BIRTHDAY, d.MOBILE, d.IDE, d.EMAIL, d.ADDRESS,
        d.MLEVEL, d.MEMBER_NO,
        d.MALL_ID,d.MALL_NAME
    </sql>

    <!-- 分页查询 selectDataBoxAndUserData -->
    <select id="selectDataBoxAndUserData" resultMap="DataBoxResultMap" parameterType="com.powerlong.common.Paginator" >
        select

          <include refid="dataBox_user_list" />

        FROM t_receipt t , databox_user d

        where t.ReceiptNum = d.RECEIPTNUM

        <if test="params.mallId != null" >
            AND d.mall_id = #{params.mallId,jdbcType=BIGINT}
        </if>

        ORDER BY t.CreateTime DESC

        limit #{offset,jdbcType=BIGINT},#{itemsPerPage,jdbcType=BIGINT}

    </select>


    <!-- 获取当月数据消费次数和消费总金额 selectDataBoxCountByUserId -->
    <select id="selectDataBoxCountByUserId" resultType="com.powerlong.vo.DataBoxCountVo" parameterType="java.lang.String" >
        SELECT
            count(d.ID) as dataCount,
            sum(t.EnterAmount) dataTotal
        FROM
            databox_user d,
            t_receipt t
        WHERE
            d.QRCODE = t.QRCode
        AND date_format(t.CreateTime, '%Y-%m') = date_format(now(), '%Y-%m')
        AND d.MOBILE = #{mobile,jdbcType=VARCHAR}
    </select>


    <!-- 数据盒子和用户信息返回对象 -->
    <resultMap id="DataBoxDetailResultMap" type="com.powerlong.vo.DataBoxDetailVo" >
        <id column="amount" property="amount" jdbcType="DOUBLE" />
        <result column="data_year" property="dataYear" jdbcType="BIGINT" />
        <result column="data_month" property="dataMonth" jdbcType="BIGINT" />
        <result column="data_day" property="dataDay" jdbcType="BIGINT" />
    </resultMap>

    <!-- 获取当月数据消费次数和消费总金额 selectDataBoxToMonthDataByUserId -->
    <select id="selectDataBoxToMonthDataByUserId" resultMap="DataBoxDetailResultMap" parameterType="java.lang.Long" >
        SELECT
            sum(t.EnterAmount) as amount,
            DATE_FORMAT(t.CreateTime,"%Y") as data_year,
            DATE_FORMAT(t.CreateTime,"%m") as data_month,
            DATE_FORMAT(t.CreateTime,"%d") as data_day
        FROM
            databox_user d,
            t_receipt t
        WHERE
            d.QRCODE = t.QRCode
            AND d.USER_ID= #{id,jdbcType=BIGINT}
            AND date_format(t.CreateTime, '%Y-%m') = date_format(now(), '%Y-%m') GROUP BY DATE_FORMAT(t.CreateTime ,'%Y-%m-%d')
    </select>

    <!-- 获取当月消费总人数 -->
    <select id="selectDataBoxUserCount" resultType="java.lang.Long" parameterType="com.powerlong.model.DataBoxReceipt" >
        SELECT
            count(DISTINCT du.ID)
        FROM
            databox_user du,
            t_receipt tr
        WHERE
            du.QRCODE = tr.QRCode
        AND date_format(tr.CreateTime, '%Y-%m') = date_format(#{createtime,jdbcType=TIMESTAMP}, '%Y-%m')
        AND tr.MerchantId = #{merchantid,jdbcType=VARCHAR}
    </select>


    <!-- 获取当月每天消费金额 selectDataBoxToMonthUserCountByUserId -->
    <select id="selectDataBoxToMonthUserCountByUserId" resultMap="DataBoxDetailResultMap" parameterType="com.powerlong.model.DataBoxReceipt" >
        SELECT
        count(d.MOBILE) as amount,
        DATE_FORMAT(t.CreateTime,"%Y") as data_year,
        DATE_FORMAT(t.CreateTime,"%m") as data_month,
        DATE_FORMAT(t.CreateTime,"%d") as data_day
        FROM
        databox_user d,
        t_receipt t
        WHERE
        d.QRCODE = t.QRCode
        AND t.MerchantId = #{merchantid,jdbcType=VARCHAR}
        AND date_format(t.CreateTime, '%Y-%m') = date_format(#{createtime,jdbcType=TIMESTAMP}, '%Y-%m') GROUP BY DATE_FORMAT(t.CreateTime ,'%Y-%m-%d')
    </select>



</mapper>